{% extends "base.html" %}
{% block title %}Gallery{% endblock %}
{% block content %}
  <!-- Filter Buttons  -->
  <div id="filter-buttons">
    <button class="gallery-button" data-name="all">Show</button>
    <button class="gallery-button" data-name="static">Static</button>
    <button class="gallery-button" data-name="animated">Animated</button>
    <button class="post-button" onclick="openForm()">New Post</button>

  </div>

  <!-- Image Cards -->
  <div id="filter-cards">
    <div class="card" data-name="animated">
      <img src="https://i.pinimg.com/736x/c9/62/2c/c9622c0de8759d862344ef80c7f4c364.jpg" alt="">
      <div class="card-body">
        <h6 class="card-title">Image</h6>
        <p class="card-text">This is serving static content from HTML</p>
      </div>
    </div>
    <div class="card" data-name="static">
      <img src="https://i.pinimg.com/736x/c9/62/2c/c9622c0de8759d862344ef80c7f4c364.jpg" alt="">
      <div class="card-body">
        <h6 class="card-title">Image</h6>
        <p class="card-text">This is serving animated content</p>
      </div>
    </div>
    {% for image in imageCards %}
    <div class="card" data-name="{{ image.image_type }}">
      <img src="{{ image.image_url }}"" alt="">
      <div class="card-body">
        <h6 class="card-title">{{ image.image_title }}</h6>
        <p class="card-text">{{ image.image_text }}</p>
      </div>
    </div>
    {% endfor %}

  </div>
  <!-- Post card -->
  <div class="form-overlay" id="formOverlay">
    <div class="form-container" id="postCardForm">
      <label class="form-label" for="image">Image Type:</label>
      <form action="#" method="post" enctype="multipart/form-data">
        <span class="close-btn" onclick="closeForm()">&times;</span>  
        <select id="imageType" name="imageType" required>
                <option value="">Select Image Type</option>
                <option value="static">Static</option>
                <option value="animated">Animated</option>
              </select>

        <label class="form-label" for="image">Image URL:</label>
        <input type="text" id="image" name="image" accept="image/*" required>
        
        <label class="form-label" for="imageTitle">Image Title:</label>
        <input type="text" id="imageTitle" name="imageTitle" required>
        
        <label class="form-label" for="imageText">Image Text:</label>
        <textarea id="imageText" name="imageText" required></textarea>
         
        <input type="submit" value="Submit">
        {% if dbError %}
        <h3 class="error">Database connection error, please try again later</h3>
        {% endif %}
      </form>
    </div>
  </div>  
</div>
{% endblock %}